if TARGET_MATRIX120_BETA

config SYS_BOARD
	default "matrix120-beta"

config SYS_VENDOR
	default "datalogic"

config SYS_SOC
	default "at91"

config SYS_CONFIG_NAME
	default "matrix120-beta"

config ATMEL_SPI0
	bool "SPI0"
	default y

config ATMEL_SDHCI0
	bool "SDHCI0"
	select ATMEL_SDHCI
	default y

config ATMEL_SDHCI1
	bool "SDHCI1"
	select ATMEL_SDHCI
	default y

config ATMEL_QSPI0
	bool "QSPI0"
	select DM_SPI
	select ATMEL_QSPI
	default n

config SYS_PTS_TARGET_ABI
	string "PTS target os type"
	default "-musleabi"
	help
	  This option should contain the name of the target os type.

endif
