CONFIG_ARM=y
CONFIG_ARCH_AT91=y
CONFIG_TARGET_MATRIX120_BETA=y
# CONFIG_ATMEL_SPI0 is not set
# CONFIG_ATMEL_SDHCI1 is not set
CONFIG_ATMEL_QSPI0=y
CONFIG_DEFAULT_DEVICE_TREE="matrix120-beta"
CONFIG_FIT=y
CONFIG_SYS_EXTRA_OPTIONS="SAMA5D2,SYS_USE_QSPIFLASH"
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
CONFIG_CMD_SF=y
CONFIG_OF_CONTROL=y
CONFIG_DM=y
CONFIG_SPI_FLASH_ABOVE_16MB=y
#CONFIG_SPI_FLASH_4B_OPCODES=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_STMICRO=y
#CONFIG_SPI_FLASH_USE_4K_SECTORS=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_MTD=y
CONFIG_CMD_UBI=y
CONFIG_CMD_UBIFS=y
CONFIG_RBTREE=y
CONFIG_MTD_DEVICE=y
CONFIG_MTD_PARTITIONS=y
CONFIG_CMD_MTDPARTS=y
CONFIG_LZO=y
CONFIG_CMD_GPIO=y
